
.exm{
	margin: 50px 0;
	padding: 0 0 20px;
	background-color: #3d2352;
	border-radius: 30px;
	box-shadow: 10px 10px 20px -5px rgba(252,136,252,1);
}
.exm_sp{
	color: white;
}
.eh2{
	padding: 20px 0;
	font-size: 48px;
	font-weight: 600;
	color: #f1c27d;
}
.btn_c{
	width: 130px;
	height: 50px;
	font-weight: 700;
	background-color: pink;
	border-radius: 15px;
}
.btn_c:hover{
	background-color: white;
}
.output{
	padding: 20px 0 0;
	font-size: 24px;
	font-weight: 600;
	color: white;
}
.chr{
	height: 50px;
	color: white;
}